<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Olá, {{nomeUsuario}}</ion-title>       
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <div id="container">
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button style="padding-top: 10px; padding-left: 10px;" color="dark">
            Compras
          </ion-button>                 
        </ion-col>  
        <ion-col>
          <ion-button shape="circle" (click)="paginaInicial()">
            <ion-icon slot="icon-only" name="grid-outline"></ion-icon>                   
          </ion-button>
          <ion-button shape="circle">
            <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>                   
          </ion-button>
          <ion-button shape="circle">
            <ion-icon slot="icon-only" name="cart"></ion-icon>       
            <ion-badge color="danger">2</ion-badge>
          </ion-button>
          <br/>
        </ion-col>      
      </ion-row>
      <ion-row>        
        <ion-col>    

          <ion-card *ngFor="let item of itens">
             <ion-card-header>
               
             </ion-card-header>
             <ion-card-content>  
              <ion-row>
                <ion-col col-2.4>
                  <ion-thumbnail item-start>
                    <img src="assets/image/massas.jpg">
                  </ion-thumbnail>                            
                </ion-col>
                <ion-col col-2.4>
                  <h2>{{item.descricao}}</h2>
                  <ion-label>R$ {{item.total}}</ion-label>                                                              
                </ion-col>
                <ion-col col-2.4>
                  <ion-icon name="remove-circle" color="danger" size="large" (click)="decrement(item)"/>{{item.qtde}}
                  <ion-icon name="add-circle" color="dark" size="large" (click)="increment(item)"/>
                </ion-col>
              </ion-row>            
              </ion-card-content>
          </ion-card>
          <br/>              
          <ion-button expand="block" color="secondary" (click)="fecharPedido()">Fechar Pedido</ion-button>
          
        </ion-col>        
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
